<section class="dashboard">
  <div class="content">
    <app-title [title]="'Dashboard'"></app-title>
    <main class="dashboard-main">
      <app-validate-form
      [sortOptions]="[
        {title: 'Title', value: 'title'},
        {title: 'Date of creation', value: 'creation_date'},
        {title: 'Number of to do task', value: 'count_todo'},
        {title: 'Number of in progress task', value: 'count_in_progress'},
        {title: 'Number of done task', value: 'count_done'},
      ]"
      [search]="search"
      [sortBy]="sortBy"
      [reverse]="reverse"
      ></app-validate-form>
      <div class="boards">
        <app-boards
          [boardsUrl]="getDashboardUrl()"
          [queryData]="{reverse: reverse, sortBy: sortBy, search: search}"
        ></app-boards>
      </div>
    </main>
  </div>
</section>
