<section class="dashboard">
  <div class="content">
    <app-title [title]="'Dashboard'"></app-title>
    <main class="dashboard-main">
      <app-validate-form
      [sortOptions]="[
        {title: 'Title', value: sortOptionsEnumerate.title},
        {title: 'Date of creation', value: sortOptionsEnumerate.creation_date},
        {title: 'Number of to do task', value: sortOptionsEnumerate.count_todo},
        {title: 'Number of in progress task', value: sortOptionsEnumerate.count_in_progress},
        {title: 'Number of done task', value: sortOptionsEnumerate.count_done},
      ]"
      [search]="search"
      [sortBy]="sortBy"
      [reverse]="reverse"
      [placeholderSearch]="'Search by board name or task name'"
      ></app-validate-form>
      <div class="boards">
        <app-boards
          [queryData]="{reverse: reverse, sortBy: sortBy, search: search}"
        ></app-boards>
      </div>
    </main>
  </div>
</section>
