.dashboard-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  width:32%;
  margin-bottom: 50px;
}

.reverse-div {
  display: flex;
  align-items: center;
}

#reverse {
  width:20px;
  height:20px;
}

.reverse-label {
  margin-right: 10px;
  font-family: BlackerSansText;
  font-size: 1.25rem;
}

#sort, #search {
  font-family: BlackerSansText;
  font-size: 1.25rem;
  padding: 15px 10px;
  border-radius: 40px;
  background: #fff;
}

#search {
  width: 30%;
}
