<section class="login">
  <app-title [title]="'Login'"></app-title>
  <div class="login-form-div">
    <app-form
      class="app-form"
      [data]="[
        {placeholder: 'Login', name: 'login', type: 'text'},
        {placeholder: 'Password', name: 'password', type: 'password'}
       ]"
      [buttonSubmitText]="'Login!'"
    ></app-form>
  </div>
  <div class="to-register-div">
    <p class="to-register-p">Don't you have an account? <a routerLink="/register" class="to-register-a">Register now!</a></p>
  </div>
</section>
