<div class="menu">
  <div class="content">
    <a routerLink="about" *ngIf="showLogo" class="logo">
      <app-pyramid [size]="1/3.5" [colorDown]="'#857cfc'" [colorCenter]="'#b175f9'" [colorUp]="'#da70f7'"></app-pyramid>
    </a>
    <nav class="navigation">
      <div class="workspace">
        <a routerLink="about" class="link">About</a>
        <a routerLink="dashboard" class="link">Dashboard</a>
      </div>
      <div class="authentication" *ngIf="!isAuthorized">
        <a routerLink="login" class="link">Login</a>
        <a routerLink="register" class="link">Register</a>
      </div>
    </nav>

  </div>

</div>
