<form class="form" (submit)="submitFunction(userForm.value)" [formGroup]="userForm">
  <div class="xmark-div">
    <app-xmark *ngIf="xmark" (onXmark)="xmarkFunction()"></app-xmark>
  </div>

    <div *ngIf="formTitle">
      <h3 class="form-title">{{formTitle}}</h3>

    </div>
    <input
      type="{{element.type}}"
      class="input {{element.name}}"
      placeholder="{{element.placeholder}}"
      [formControl]="element.field"
      *ngFor="let element of formFields"
      [attr.required]="'required'"
      [attr.readonly]="element.disable"
    >

  <button type="submit" class="submit-button">{{ buttonSubmitText }}</button>
</form>
