<section class="board" *ngIf="board">
  <div class="content">
    <app-title [title]="board.title"></app-title>
    <header class="board-header">
      <app-validate-form class="validate-form"
        [sortOptions]="[
          {title: 'Title', value: sortOptionsEnumerate.title},
          {title: 'Date of creation', value: sortOptionsEnumerate.creation_date},
        ]"
        [search]="search"
        [sortBy]="sortBy"
        [reverse]="reverse"
        [placeholderSearch]="'Search task by name'"
      ></app-validate-form>
    </header>
    <main class="board-main">
      <app-tasks-column
        [title]="'Todo'"
        [bgColor]="board.columns_color.todo_color"
        [tasks]="tasks.todo"
        [boardId]="board.id"
        [colorObject]="'todo_color'"
        [progress]="0"
      ></app-tasks-column>
      <app-tasks-column
        [title]="'In Progress'"
        [bgColor]="board.columns_color.in_progress_color"
        [tasks]="tasks.in_progress"
        [boardId]="board.id"
        [colorObject]="'in_progress_color'"
        [progress]="1"
      ></app-tasks-column>
      <app-tasks-column
        [title]="'Done'"
        [bgColor]="board.columns_color.done_color"
        [tasks]="tasks.done"
        [boardId]="board.id"
        [colorObject]="'done_color'"
        [progress]="2"
      ></app-tasks-column>
    </main>
  </div>
</section>
