.tasks-column{
  min-height: 780px;
}

.tasks-column-header {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.tasks-column-title {
  font-family: BlackerSansText;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff
}

.tasks-column-ellipsis {
  font-size: 2.5rem;
  color: #fff
}
