<section class="tasks-column" [ngStyle]="{'background': bgColor}">
  <header class="tasks-column-header">
    <h3 class="tasks-column-title">{{title}}</h3>
    <app-tasks-column-popup
      [title]="title"
      [boardId]="boardId"
      [colorObject]="colorObject"
    ></app-tasks-column-popup>
  </header>
  <ng-container *ngFor="let task of tasks">
    <app-task [task]="task" [boardId]="boardId" *ngIf="!task.archived"></app-task>
  </ng-container>
  <app-add-task [progress]="progress" [boardId]="boardId"></app-add-task>
</section>

