<section class="tasks-column" [ngStyle]="{'background': bgColor}">
  <header class="tasks-column-header">
    <h3 class="tasks-column-title">{{title}}</h3>
    <app-tasks-column-popup
      [title]="title"
      [boardId]="boardId"
      [colorObject]="colorObject"
    ></app-tasks-column-popup>
  </header>
  <ng-container *ngFor="let task of tasks">
    <div class="task">
      <h4 class="task-title">{{task.title}}</h4>
      <i class="fa-solid fa-ellipsis task-ellipsis"></i>
    </div>
  </ng-container>

  <div class="task">
    <h4 class="task-title">Add task</h4>
  </div>
</section>

