.boards {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.content {
  width: 1290px;
}

.boards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 65px;
  grid-row-gap: 65px;
}

.board {
  padding: 30px 20px;
  border: #4F84FF 1px solid;
  border-radius: 40px;
  text-decoration: none;
}
