.about-button-div {
  display: flex;
  justify-content: center;
}

.about-button {
  font-family: BlackerSansText;
  font-size: 3rem;
  padding: 62px 128px;
  text-decoration: none;
  background: #55A8FF;
  border-radius: 70px;
  color: #FFF;
  margin-bottom: 100px;
}
