.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-form {
  display: flex;
  margin-bottom: 40px;
}

.to-register-div {
  width: 900px;
  margin-bottom: 100px;
}

.to-register-p {
  font-size: 1.5rem;
}

.to-register-a {
  font-size: 1.5rem;
  color: #4F84FF;
  text-decoration: none;
}
