.about-project-element {
  justify-content: center;
  display: flex;
  margin-bottom: 100px
}

.content {
  width: 1290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-div {

}

.text {
  font-size: 2.25rem;
  font-family: BlackerSansText;
  font-weight: 350;
}

.icon {
  font-size: 2rem;
}
